/.idea/.idea.My project/.idea/.gitignore
/.idea/.idea.My project/.idea/encodings.xml
/.idea/.idea.My project/.idea/indexLayout.xml
/.idea/.idea.My project/.idea/vcs.xml
/.idea/.idea.My project.dir/.idea/.gitignore
/.idea/.idea.My project.dir/.idea/encodings.xml
/.idea/.idea.My project.dir/.idea/indexLayout.xml
/.idea/.idea.My project.dir/.idea/vcs.xml
